{% extends 'base.html' %}

{%block content%}
    <br>
    <div class="add-post">
        <a href="{%url 'add_post'%}">Add memes</a>
    </div>
    <div class="posts">
        {%for post in posts%}
            <h5>{{post.title}}</h5>
            <a href="{%url 'post_detail' post.id%}"><p>to mem page</p></a>
            <p>{{post.body}}</p>
            <div class="images">
                {%for img in post.images.all%}
                <!-- в контекст ты не даешь посты для конерктного поста, поэтому нужно post.images.all -->
                    <p>{{img.image}}</p>
                {%endfor%}
            </div>
            <div class="likes">
                <p>likes: {{post.get_likes}}</p>
                

                <form action="{% url 'memes'%}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="{% if user not in post.likes.all %}to like{%else%}unlike{%endif%}" id="">
                    <input type="hidden" name="pk" value="{{post.id}}" id="">
                </form>
            </div>
            <hr>
        {%endfor%}
    </div>
{%endblock%}