{% extends 'base.html' %}

{%block content%}
    <div class="post-info">
        <h5>{{post.title}}</h5>
        <p>{{post.body}}</p>
        <div class="images">
            {%for img in images%}
                <p>{{img.image}}</p>
            {%endfor%}
            <div class="likes">
                <p>likes: {{post.get_likes}}</p>
            </div>
            {%if post.author == request.user%}
            <div class="delete-post">
                <form action="{%url 'delete_post' %}" method="POST">
                    {%csrf_token%}
                    <input type="submit" value="Delete" name="delete-post">
                    <input type="hidden" name="pk" value="{{post.id}}">
                </form>
            </div>
            <div class="change-post">
                <form action="{%url 'change_post' %}" method="POST">
                    {%csrf_token%}
                    <input type="submit" value="Edit" name="change-post">
                    <input type="hidden" name="pk" value="{{post.id}}">
                </form>
            </div>
            {%endif%}
            <div class="comments">
                {% for c in comments %}
                    <p><i>{{c.author.username}}</i></p>
                    <p>{{c.body}}</p>
                {%endfor%}
            </div>
        </div>
    </div>
{%endblock%}